# NÃO coloque senhas reais neste arquivo e não envie .env para o GitHub.
# Estes campos serão usados somente quando criarmos banco e emissão fiscal.

DATABASE_URL=
FISCAL_API_URL=
FISCAL_API_TOKEN=
CERTIFICATE_PASSWORD=
NFCE_CSC_ID=
NFCE_CSC_SECRET=
